// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";
@import "ember-cli-materialize";
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body.ember-application, body {
  height: 100%;
  overflow: hidden;
  .ember-view {
  }
  .card.small{
    font-size: 0.8em;
    height: 90px;
    min-width: 130px;
    max-width: 250px;
    padding-top: 8px;
    padding-left: 8px;
  }
  .card.small.tall{
    height: 130px;
    width: 300px;
  }
  .card.small .card-content {
    padding: 10px;
    max-height: 100%;
  }
  .content {
    height: inherit;
    &.overflow {
      height: 94VH;
      overflow-y: scroll;
      .row {
        margin-bottom: 5rem;
      }
      .col{
      }
    }
    .side-bar {
      height: 100VH;
      h5 {
        font-size: 1.4rem;
      }
      .input-field {
        input {
          height: 2.8rem;
        }
      }
    }
  }
  .nav-wrapper {
    background-color: #26a69a;
    background-image: url("images/G_artic_bg.svg");
    background-position: bottom;
    .brand-logo {
      padding-left: 15px;
    }
  }

  .card-title-main {
    margin-top: auto;
    margin-bottom: 0px;
    padding: 0px;
    text-transform:capitalize;
    font-size: 1.05em;
    line-height: 10px;
  }
  .card-title-small {
    margin-top: auto;
    margin-bottom: 0px;
    padding: 5px;
    text-transform:capitalize;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 10px;

  }
  .card-action {
    padding: 0px;
    font-size: .8em
  }
}
