<div class='navbar-fixed'>
  <nav>
    <div class="nav-wrapper">
      {{#link-to 'index' class='brand-logo'}}<img src="/assets/images/Artic_logo.svg" />{{/link-to}}
      <div class = "brand-logo center">
        {{md-input value=repoFilter label='Repository' color=green}}
      </div>
      <ul id="nav-mobile" class="right hide-on-small-and-down">
        <li><a href="/add">Add Repository</a></li>
        <!-- <li><a href="badges.html">Link 2</a></li>
        <li><a href="collapsible.html">Link 3</a></li> -->
      </ul>
    </div>
  </nav>
</div>
{{outlet}}
